@model IEnumerable<Item>
@{
    ViewData["Title"] = "Products";
}

<a asp-action="Create">
    
    Add item
</a>

@if (!Model.Any())
{
    <div>
        <p>No items were added yet.</p>
    </div>
}
else
{
    @foreach(Item item in Model){
        <div>
            <img src="@($"{FileSettings.ImagesPath}/{item.Img}")" />
            @item.ItemName
            @item.Price
            @item.
            <i class="fa-solid fa-info"></i>
        </div>
    }
}
